{% extends 'loja/layout/base.html' %}

{% block title %}Produtos - {{ block.super }}{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Produtos</li>
{% endblock %}

{% block content %}
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Item</th>
            <th>Quantidade Pedidos</th>
            <th>Quantidade Vendida</th>
            <th>Data do Último Pedido</th>
            <th>Quantidade do Último Pedido</th>
          </tr>
        </thead>
        <tbody>
          {% for item in itens %}
            <tr>
              <td>
                {{ item.title }}
                <small class="text-muted d-block">{{ item.description }}</small>
              </td>
              <td class="align-middle">0</td>
              <td class="align-middle">0</td>
              <td class="align-middle"></td>
              <td class="align-middle"></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
{%endblock%}
