{% load static %}

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" id="divslider1">
      <div class="carousel-caption d-none d-md-block">
        <h5>Trabalhamos com material de primeira qualidade</h5>
        <p>Rankeados como os melhores</p>
      </div>
    </div>
    <div class="carousel-item" id="divslider2">
      <div class="carousel-caption d-none d-md-block">
        <h5>Preparamos todo o cardápio de seu aniversário</h5>
        <p>Entre em contato</p>
      </div>
    </div>
    <div class="carousel-item" id="divslider3">
      <div class="carousel-caption d-none d-md-block">
        <h5>Foco total na experiência do cliente</h5>
        <p>Atendimento personalizado</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>