{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Pedidos</li>
{% endblock %}

{% block content %}
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Pedido</th>
        <th>ipsum</th>
        <th>ipsum</th>
        <th>ipsum</th>
        <th>ipsum</th>
      </tr>
    </thead>
    <tbody>
      {% for pedido in pedidos %}
        <tr>
          <td>
            <a href="{% url 'detalhesdopedido' pedido.id %}">{{ pedido.id }}</a>
            <small class="text-muted d-block">{{ pedido.id }}</small>
          </td>
          <td class="align-middle">0</td>
          <td class="align-middle">0</td>
          <td class="align-middle">0</td>
          <td class="align-middle">0</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}